# Built application files
build/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Xcode
xcuserdata/
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist

/*.gcno
